.generate {
  text-align: center;
}

.imgItem {
  height: 200px;
  width: 200px;
}

.item {
  margin: 40px;
}

.cardItem {
  min-width: 50%;
  max-width: 100%;
  display: inline-block;
}

.profImg {
  border-radius: 150px;
  height: 200px;
  width: 200px;
}

.divAlign {
  text-align: center;
}

.follow {
  font-weight: 600;
  font-size: large;
}
